	<div class="line col-sm-4 col-sm-offset-4"></div>
	<div id="ra">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">

					<h4>A MESSAGE FROM RYAN LUEDECKE, CEO OF SUMO JERKY...</h4>

                    <p>"We started Sumo Jerky as a way for our members to get to try different styles &amp; flavors of small batch beef jerky at an affordable price. I spend my time trying to find unique, small batch, craftsman jerky that you might not find anywhere else. I  taste test every batch personally and negotiate the best deal possible before it's shipped to you. If you're not 100% satisfied with the jerky you receive each month, contact me (link to contact us pop up) and I'll personally take care of it. - ryan"</p>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><! -- r wrap -->

	<div class="line col-sm-4 col-sm-offset-4"></div>

	<!-- FOOTER -->
	<div id="fa">
		<div class="container">
			<div class="row centered">
				<a href="https://twitter.com/sumojerky"><i class="fa fa-twitter"></i></a><!-- Save for Later -- <a href="https://www.facebook.com/appsumo/posts/695987917079197"><i class="fa fa-facebook"></i></a><a href="http://www.sumojerky.com/"><i class="fa fa-instagram"></i></a> -->

				<p>Started by the team at <a href="http://www.appsumo.com/sumo-jerky/">AppSumo</a>
		
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- Footer -->


	<!-- MODAL FOR CONTACT -->
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">Contact Us</h4>
	      </div>
	      <div class="modal-body">
		        <div class="row centered">
		        	<p>Send questions via email and I'll personally reply:</p>
		        	<p>		        		
						ryan@sumojerky.com<br>
						(512) 761-5724 
		        	</p>
		        </div>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/smooth-scroll.js"></script>
  </body>
</html>
