<%= include /layouts/header.ejs %>

<!-- 	<div class="container main-content">
      <div class="row centered">	        	       	 
	      <h1>Company name</h1>
	      <h2>Your tagline, delivered monthly.</h2>
	      <div class="cta-btn">
	      	<a class="btn btn-warning btn-lg" href="/checkout">Get Started</a>
      	  </div>
	      
      </div>

	</div> --><!-- container -->

<div class="container main-content">
	<div class="row">
		<div class="col-lg-8">
			<img class="img-responsive img-rounded" src="http://placehold.it/900x350"><!-- take out img-rounded if you don't want the rounded corners on the image -->
		</div>
		<div class="col-lg-4">
			<h1>Business Name</h1>
			<p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but is a perfect way to showcase your product. Include a tagline here!</p>
			<a class="btn btn-info btn-lg" href="/checkout">Get Started</a>
		</div>
	</div>
</div>

	


<div class="learn-more">
	<a class="scroll" data-easing="easeInOutGentle"  href="#main">	
		<p>Learn more &nbsp<i class="fa fa-angle-down"></i></p>	
	</a>
	
</div>

	

	<div class="line col-sm-4 col-sm-offset-4"></div>

	<div class="container wa" id="main">
		<div class="row centered">
			<div class="col-md-4">
				<i class="fa fa-calendar"></i>
				<h4>MONTHLY</h4>
				<p>Get our specialty box delivered to <br>your door every month. </p>
			</div><!-- col-lg-4 -->

			<div class="col-md-4">
				<i class="fa fa-gift"></i>
				<h4>SPECIALTY</h4>
				<p>Curated products from our <br>partners. Tried and tested for you!</p>
			</div><!-- col-lg-4 -->

			<div class="col-md-4">
				<i class="fa fa-home"></i>
				<h4>DELIVERY</h4>
				<p>Ready to try? It's only $25/month. <br><strong><a href="/checkout">Join today</a></strong> to receive your next box.</p>
			</div><!-- col-lg-4 -->
		</div><!-- row -->
		<br>
	</div><!-- container -->

	<div class="line col-sm-4 col-sm-offset-4"></div>

	<!-- PORTFOLIO SECTION -->
	<div id="dga">
		<div class="container">
			<div class="row centered">
				<h4>SAMPLINGS FROM LAST MONTH'S BOX</h4>
				<br>
				<div class="col-md-4">
					<img class="img-responsive img-rounded" src="http://placehold.it/300x325">
				</div>

				<div class="col-md-4">
					<img class="img-responsive img-rounded" src="http://placehold.it/300x325">
				</div>

				<div class="col-md-4">
					<img class="img-responsive img-rounded" src="http://placehold.it/300x325">				
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- DG -->

	<div class="line col-sm-4 col-sm-offset-4"></div>

	<div class="container wa">
		<div class="row centered">
			<br>				
			<H4>CUSTOMERS TESTIMONIALS</H4>
			<br>
			<div class="col-md-4">
				<p><em>"I love all the natural products I get in my monthly beauty box. They really keep my sensitive skin bright and snow white!"</em></p>
				<h4>- Snow W. from Dwarve's Cottage</h4>
			</div><!-- col-lg-4 -->

			<div class="col-md-4">
				<p><em>"Amazing!... I love my monthly cleaning service through Subscribely. The castle is spic-and-span and I don't have to lift a finger." </em></p>
				<h4>- Cinderell A. from Castle</h4>
			</div><!-- col-lg-4 -->

			<div class="col-md-4">
				<p><em>"I can't get enough of my monthly book subscription! Every selection has me at the edge of my seat...I usually finish the day I get it!"</em></p>
				<h4>- Bell E. from Beast Residence</h4>
			</div><!-- col-lg-4 -->

		</div><!-- row -->
		<br>
		<br>		
	</div><!-- container -->

	<div class="line col-sm-4 col-sm-offset-4"></div>
	<div id="ra">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">

					<h4>ABOUT OUR COMPANY</h4>
                    <p>Tell us more about your company here. Why did you start it? What proccess do you go through to pick your products? What makes your box one of a kind? Give customers a 100% satisfied guarantee. If they aren't happy, ask them to <strong><a data-toggle="modal" data-target="#contact" href="#contact">contact you</a></strong> to make the experience risk-free.</p>

				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><! -- r wrap -->

	<div class="line col-sm-4 col-sm-offset-4"></div>	


	
<%= include /layouts/footer.ejs %>