<%= include /layouts/header.ejs %>

	<div class="container main-content">
      <div class="row centered">	        	       	 
	      <h1>The Stork</h1>
	      <h2>Get delicious jerky, delivered monthly.</h2>
	      <div class="cta-btn">
	      	<a class="btn btn-warning btn-lg" href="/checkout">Get Started</a>
      	  </div>
	      
      </div>

	</div><!-- container -->
	


<div class="learn-more">
	<a class="scroll" data-easing="easeInOutGentle"  href="#main">	
		<p>Learn more &nbsp<i class="fa fa-angle-down"></i></p>	
	</a>
	
</div>

	

	<div class="line col-sm-4 col-sm-offset-4"></div>

	<div class="container wa" id="main">
		<div class="row centered">
			<div class="col-md-4">
				<i class="fa fa-calendar"></i>
				<h4>MONTHLY</h4>
				<p>Get delicious, healthy beef jerky delivered to your door every month. Different flavors every month. </p>
			</div><!-- col-lg-4 -->

			<div class="col-md-4">
				<img src="/images/icon_cow.png" alt="cow">			
				<h4>JERKY</h4>
				<p>From the best artisan jerky makers <br>and butchers we can find.</p>
			</div><!-- col-lg-4 -->

			<div class="col-md-4">
				<i class="fa fa-home"></i>
				<h4>DELIVERY</h4>
				<p>Ready to try? It's only $25/month. <br><strong><a href="/checkout">Join today</a></strong> to get in on the next batch.</p>
			</div><!-- col-lg-4 -->
		</div><!-- row -->
		<br>
	</div><!-- container -->

	<div class="line col-sm-4 col-sm-offset-4"></div>

	<!-- PORTFOLIO SECTION -->
	<div id="dga">
		<div class="container">
			<div class="row centered">
				<h4>RIGOROUS TASTE TESTING PROCESS</h4>
				<br>
				<div class="col-md-4">
					<img src="/images/sumo_polaroid1.png" alt="">
				</div>

				<div class="col-md-4">
					<img src="/images/sumo_polaroid2.png" alt="">
				</div>

				<div class="col-md-4">
					<img src="/images/sumo_polaroid3.png" alt="">
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- DG -->

	<div class="line col-sm-4 col-sm-offset-4"></div>

	<div class="container wa">
		<div class="row centered">
			<br>				
			<H4>HEAR WHAT OUR CUSTOMERS HAVE TO SAY...</H4>
			<br>
			<div class="col-md-4">
				<p><em>"The jerky was incredible. I had sampled some jerky from friends, but never cared for it much. However, once that shipment came in I finished an entire pack during my first sitting."</em></p>
				<h4>- Barry M. from Chicago, IL</h4>
			</div><!-- col-lg-4 -->

			<div class="col-md-4">
				<p><em>"Amazing!... It's really good quality...interesting flavors... introducing me to something I've never tried before. Definitely made me very happy to be a customer of Sumo Jerky."</em></p>
				<h4>- Chad B. from Austin, TX</h4>
			</div><!-- col-lg-4 -->

			<div class="col-md-4">
				<p><em>"Man, seriously amazing jerky. I finished off one bag last night. I'll certainly be ordering more."</em></p>
				<h4>- Chris P. from Phoenix, AZ</h4>
			</div><!-- col-lg-4 -->

		</div><!-- row -->
		<br>
		<br>		
	</div><!-- container -->

	<div class="container wa">
		<div class="row centered">					
			<div class="col-md-4">
				<p><em>"This month's jerky was absolutely delicious, some of the best jerky I've ever tasted."</em></p>
				<h4>- Ben R. from San Francisco, CA</h4>
			</div><!-- col-lg-4 -->

			<div class="col-md-4">
				<p><em>"Our favorite jerky was the one in the clear bag. We really loved the smoky flavor of that particular one but they were both really good."</em></p>
				<h4>- Rhonda M. from Santa Rosa Beach, FL</h4>
			</div><!-- col-lg-4 -->

			<div class="col-md-4">
				<p><em>"The jerky this month was the best I have ever had. Please continue finding stuff of this quality!"</em></p>
				<h4>- Tyler P. from Brooklyn Center, MN</h4>
			</div><!-- col-lg-4 -->

		</div><!-- row -->
		<br>
		<br>		
	</div><!-- container -->	


	
<%= include /layouts/footer.ejs %>