<%= include /layouts/header.ejs %>

	<div class="container main-content">
      <div class="row">
        <div class="col-lg-8">
          <img class="img-responsive img-rounded" src="http://placehold.it/900x350"><!-- take out img-rounded if you don't want the rounded corners on the image -->
        </div>
        <div class="col-lg-4">
	        <div class="row centered">
	       	  <p><a href="http://www.sumojerky.com/"><img src="#" alt=""></a></p>
	          <h1>Sumo Jerky</h1>
	          <h4>Get delicious jerky, delivered monthly.</h4>
	          <a class="btn btn-primary btn-lg" href="/checkout">Get Started</a>
	        </div>
        </div>
      </div>

	</div><!-- container -->
	
	<div class="learn-more">
		<p>Learn More &nbsp<i class="fa fa-arrow-down"></i></p>

	</div>
	<hr>

	<div class="container w">
		<div class="row centered">
			<div class="col-lg-4">
				<i class="fa fa-calendar"></i>
				<h4>MONTHLY</h4>
				<p>Get delicious, healthy beef jerky delivered to your door every month. Different flavors every month. </p>
			</div><!-- col-lg-4 -->

			<div class="col-lg-4">
				<a href="/checkout"><img src="/images/icon_cow.png" alt="" height="60" width="100"></a>				
				<h4>JERKY</h4>
				<p>From the best artisan and local jerky makers and butchers we can find. Sumo Jerky approved. </p>
			</div><!-- col-lg-4 -->

			<div class="col-lg-4">
				<i class="fa fa-home"></i>
				<h4>DELIVERY</h4>
				<p>Ready to try? <strong><a href="/checkout">It's only $25/month.</a></strong> <br>Join today to get in on the next batch.</p>
			</div><!-- col-lg-4 -->
		</div><!-- row -->
		<br>
	</div><!-- container -->


	<!-- PORTFOLIO SECTION -->
	<div id="dg">
		<div class="container">
			<div class="row centered">
				<h4>RIGOROUS TASTE TESTING PROCESS</h4>
				<br>
				<div class="col-lg-4">
					<div class="tilt">
					<a href="/"><img src="/images/sumo_polaroid1.png" alt=""></a>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="tilt">
					<a href="/"><img src="/images/sumo_polaroid2.png" alt=""></a>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="tilt">
					<a href="/"><img src="/images/sumo_polaroid3.png" alt=""></a>
					</div>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- DG -->



<div class="container w">
		<div class="row centered">
			<br>
			<h4>OUR AWESOME CLIENTS</h4>
			<div class="col-lg-4">
				<p><em>"I love me some jerky! I guess I know where my son gets his obsession with delicious dried meat from... luckily we have Sumo Jerky to satiate our jerky cravings! Now if only there were daily deliveries..."</em></p>
				<h4>- RYAN'S DAD from Austin, TX</h4>
			</div><!-- col-lg-4 -->

			<div class="col-lg-4">
				<p><em>Living in a big city pretty much means you're far away from a lot of healthy, quality foods. Sumo Jerky saved me the time, gas and headache of searching for nutritious snacks! </em></p>
				<h4>- RICHARD from San Francisco, CA</h4>
			</div><!-- col-lg-4 -->

			<div class="col-lg-4">
				<p><em>"Ryan used the framework we teach to start Keto Jerky, which he'll be combining into Sumo Jerky. He's on his way to a new life ever since he took the jump and started his own jerky business."</em></p>
				<h4>- NOAH from Cupertino, CA</h4>
			</div><!-- col-lg-4 -->
		</div><!-- row -->
		<br>
		<br>
	</div><!-- container -->
	
	
<%= include /layouts/footer.ejs %>