<%= include /layouts/header.ejs %>

	<!-- PRICING SECTION -->
	<div id="dg">
		<div class="container">
			<div class="row centered">
				<h4>PRICING PLANS</h4>
				<br>
				<div class="col-lg-4">
                    <!-- START PRICING TABLE -->
                    <div class="pricing-option">
                        <div class="pricing-top">
                            <span class="pricing-edition">SOLO</span>
                            <span class="price">
                                <sup>$</sup>
                                <span class="price-amount">25</span>
                                <small>/mo</small>
                            </span>
                        </div>
                        <ul>
                            <li><strong>2 lbs</strong>  of hand-selected Jerky</li>
                            <li>For <strong>1</strong> Sumo Jerky Fan</li>
                            <li>Monthly Delivery</li>
                        </ul>
                        <a href="/checkout" class="pricing-signup">Buy</a>
                    </div><!-- /pricing-option -->
                    <!-- END PRICING TABLE -->
				</div><!-- /col -->
				
				<div class="col-lg-4">
                    <!-- START PRICING TABLE -->
                    <div class="pricing-option">
                        <div class="pricing-top">
                            <span class="pricing-edition">HOME</span>
                            <span class="price">
                                <sup>$</sup>
                                <span class="price-amount">69</span>
                                <small>/mo</small>
                            </span>
                        </div>
                        <ul>
                            <li><strong>6 lbs</strong> of hand-selected Jerky</li>
                            <li>For <strong>3</strong> Sumo Jerky Fans</li>
                            <li>Monthly Delivery</li>
                        </ul>
                        <a href="/checkout" class="pricing-signup">Buy</a>
                    </div><!-- /pricing-option -->
                    <!-- END PRICING TABLE -->
				</div><!-- /col -->
				
				<div class="col-lg-4">
                    <!-- START PRICING TABLE -->
                    <div class="pricing-option">
                        <div class="pricing-top">
                            <span class="special-label">NEW!</span>
                            <span class="pricing-edition">OFFICE</span>
                            <span class="price">
                                <sup>$</sup>
                                <span class="price-amount">199</span>
                                <small>/mo</small>
                            </span>
                        </div>
                        <ul>
                            <li><strong>20 lbs</strong>  of hand-selected Jerky</li>
                            <li>For <strong>10</strong> Sumo Jerky Fans</li>
                            <li>Monthly Delivery</li>
                        </ul>
                        <a href="/checkout" class="pricing-signup">Buy</a>
                    </div><!-- /pricing-option -->
                    <!-- END PRICING TABLE -->
				</div><!-- /col -->
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- DG -->


	
	<div id="r">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
					<h4>WE KNOW AND LOVE JERKY.</h4>
                    <p>Our CEO, Ryan, is a jerky freak and knows about tons of different types of jerky. His wife even complains that their kitchen is filled with jerky (sorry, not sorry)! He created Keto Jerky (now Sumo Jerky) to share his passion with jerky fanatics around the world. We love connecting with Sumo Jerky fans, so make sure to hit us up on Facebook, Twitter and Instagram! #sumojerky</p>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><! -- r wrap -->
	
	
<%= include /layouts/footer.ejs %>