.checkout-container {
  background-color: #FFFFFF;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  border: 1px solid #b5b5b5;
  max-width: 900px;
  margin-bottom: 5%;
  padding: 0 5% 5% 5%;
}
.checkout-container h2 {
  font-size: 24px;
}
.checkout-container .header-img {
  margin-bottom: 7%;
}
.checkout-container .checkout-title {
  margin: 5% 0;
}
.checkout-container .checkout-title h1,
.checkout-container .checkout-title h2,
.checkout-container .checkout-title h3 {
  text-align: center;
}
.checkout-section .bill {
  margin-top: 1%;
  margin-bottom: 2%;
  font-weight: 400;
}
.checkout-btn {
  margin-top: 5%;
  text-align: center;
}
.checkout-btn .btn-lg {
  padding: 15px 65px;
}
