.checkout-container {
  margin: 10%  auto;
  background-color: #FFFFFF;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  max-width: 650px;
  padding: 2% 3%;
}
.checkout-container .header-img {
  margin-bottom: 5%;
}
.checkout-section {
  margin-top: 5%;
}
.checkout-section .bill {
  margin-top: 1%;
  margin-bottom: 2%;
  font-weight: 400;
}
button {
  margin-right: 15px;
}
