

.checkout-container {	
	background-color: #FFFFFF;	
	-webkit-border-radius: 16px;
  	-moz-border-radius: 16px;
  	border-radius: 16px;
  	.header-img {
  		margin-bottom:7%;
  	}
  	.checkout-title  {
  		margin: 5% 0;
  		h1{
  			text-align: center;  		
  		}
  	}
  	max-width:650px;
  	margin-bottom: 5%;
}


.checkout-section {	
	margin-top:5%;
	.bill {
		margin-top: 1%;
		margin-bottom: 2%;
		font-weight: 400;
		// font-size:1.4em;
	}
	.form-group input[type="text"]{
		// font-size: 1.4em;
	}	
}

.checkout-btn {
	margin-top: 5%;
	text-align: center;
}
