/* FONTS */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700,900);

/* OVERALL ASPECT */

body {
  background-color: #FFFFF;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    
    /*margin-top: 0px;*/
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}


/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

/* Links */
a {
    /*color: #59F459;*/
    color: #00cc00;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {    
    color: #006600;
    /*text-decoration: underline;*/
    /*outline: 0;*/
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


.navbar {
  font-weight: 800;
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 15px;

}

.navbar-inverse {
  background: #FFFFF;
  border-color: #FFFFF;
}

.navbar-inverse .navbar-nav > .active > a {
  background: #00cc00
}

.navbar-inverse .navbar-brand {
  color: #FFFFF;
  font-weight: bolder;
  font-size: 22px;
  letter-spacing: 1px;
}

.navbar-inverse .navbar-brand i {
  color: #00cc00;
  font-size: 22px;
  letter-spacing: 1px;
}

.navbar .nav li a:hover{
  /*text-decoration:underline;*/
}

/*TILT*/
.tilt {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.tilt:hover {
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
  background: url(#) no-repeat center top;
  margin-top: -10px;
  padding-top:20px;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  min-height: 500px;
  width: 100%;
  
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
  margin-top: 100px;
  color: black;
  font-size: 70px;
  font-weight: 300;
  letter-spacing: 3px;
}

#headerwrap h2 {
  color: black;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* White Header Wrap */
#dg {
  background: #FFFFF;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
}

#dg h4 {
  font-weight: 700;
}

/* Light Grey */
#lg {
  background: #ebebeb;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
}

#lg h4 {
  font-weight: 700;
}


/* White Wrap */
#r {
  background: #FFFFF;
  padding-top: 35px;
  padding-bottom: 35px;
}

#r h4 {
  color: #333;
  font-weight: 700;
}

#r p {
  color: black;
}

/* Blue Wrap */

#blue {
  background: #3498db;
  padding-top: 35px;
  padding-bottom: 35px;
}

#blue h4 {
  color: black;
  font-weight: 700;
}

#blue p {
  color: black;
}



/* Footer Wrap */
#f {
  background: #FFFFFF;
  padding-top: 30px;
  padding-bottom: 30px;
}

#f i {
  color: #bdbdbd;
  font-size: 30px;
  padding: 20px;
}

#f i:hover {
  color: #00cc00;

}

/****** SECTIONS *****/

.w {
  padding-top: 35px;
}

.w h4 {
  font-weight: 700;
}

.w i {
  color: #00cc00;
  font-size: 60px;
}


.wb {
  padding-top: 35px;
  margin-bottom: 0px;
}

.wb h4 {
  font-weight: 700;
}

.desc {
  padding-top: 35px;
}

.desc h4 {
  font-weight: 700;
}

.desc i {
  color: #00cc00;
  font-size: 12px;
  padding: 5px;
}

/***** MODAL CONTACT *****/
.modal-content {
  border-radius: 0px;

}

.modal-header {
  background: #f2f2f2;
  color: white;
}

.modal-header h4 {
  font-weight: 700;
}

.modal-body {
  background: #ffff;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;
}

.modal-footer {
  background: #f2f2f2;
  margin-top: 0px; 
}

/****** BUTTONS *****/
.btn {
border:1px solid #BA6300; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font:Lato; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #FFCE08; background-image: -webkit-gradient(linear, left top, left bottom, from(#FFCE08), to(#FF8300));
 background-image: -webkit-linear-gradient(top, #FFCE08, #FF8300);
 background-image: -moz-linear-gradient(top, #FFCE08, #FF8300);
 background-image: -ms-linear-gradient(top, #FFCE08, #FF8300);
 background-image: -o-linear-gradient(top, #FFCE08, #FF8300);
 background-image: linear-gradient(to bottom, #FFCE08, #FF8300);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFCE08, endColorstr=#FF8300);
}

.btn-primary {
  color: #ffffff;
  background-color: #FF8300;
  border-color: #FF8300;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
border:1px solid #E3AF02;
 background-color: #FFD503; background-image: -webkit-gradient(linear, left top, left bottom, from(#FFD503), to(#FFA319));
 background-image: -webkit-linear-gradient(top, #FFD503, #FFA319);
 background-image: -moz-linear-gradient(top, #FFD503, #FFA319);
 background-image: -ms-linear-gradient(top, #FFD503, #FFA319);
 background-image: -o-linear-gradient(top, #FFD503, #FFA319);
 background-image: linear-gradient(to bottom, #FFD503, #FFA319);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFD503, endColorstr=#FFA319);
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:`,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  /*font-weight: normal;*/
  line-height: 1.33;
  border-radius: 6px;
}

.btn-info {
  color: #ffffff;
  background-color: #FF8300;
  border-color: #FF8300;
}


/* ==========================================================================
   Pricing Tables
   ========================================================================== */
   
.pricing-option {
    padding-bottom: 40px;
}

.pricing-option .pricing-top {
    position: relative;
    background: #f2f2f2;
    color: black;
    text-align: center;
    font-weight: bold;

    padding: 40px 20px 30px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.pricing-option .pricing-top .special-label {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #00cc00;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    padding: 3px 0;
}

.special .pricing-top {
    background: black;
}

.pricing-option .pricing-edition {
    text-transform: uppercase;
    display: block;
    font-size: 25px;
    letter-spacing: 8px;
}

.pricing-option .price {
    display: inline-block;
    position: relative;
}

.pricing-option .price sup {
    position: absolute;
    top: 50px;
    left: -10px;
    font-size: 24px;
}

.pricing-option .price .price-amount {
    font-size: 108px;
    letter-spacing: -4px;
}

.pricing-option .price small {
    position: relative;
    left: -10px;
    font-size: 18px;
}

.pricing-option ul {
    list-style: none;
    margin: 0;
    background: #eee;
    text-align: center;
    padding-left: 0px;
}

.pricing-option ul li {
    border-bottom: solid 1px #e1e1e1;
    padding-top: 20px;
    padding-bottom: 20px;
}

.pricing-option .pricing-signup {
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 10px;
    color: white;
    background: #1abc9c;
}

.pricing-option .pricing-signup:hover {
    background: #00cc00;
}






