.navbar-default {
  background-color: transparent;
  border: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
#nav {
  margin-right: 5%;
}
body a:hover {
  text-decoration: none;
}
.navbar .nav li a {
  color: #333;
  font-weight: normal;
}
.navbar .nav li a:hover {
  text-decoration: underline;
  color: #333;
}
.main-content {
  padding-top: 10%;
  min-height: 800px;
}
.main-content h1 {
  font-size: 42px;
}
.main-content h2 {
  font-size: 18px;
}
.main-content .cta-btn {
  margin: 5%;
}
.btn-lg {
  padding: 14px 38px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.33;
  border-radius: 6px;
}
.learn-more {
  text-align: center;
  position: absolute;
  bottom: 20px;
  width: 100%;
}
.centered {
  text-align: center;
}
.line {
  border-bottom: solid #e3e3e3 1px;
}
/*******************Checkout *************/
.checkout-container {
  background-color: #FFFFFF;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  border: 1px solid #b5b5b5;
  max-width: 900px;
  margin-bottom: 5%;
  padding: 0 5% 5% 5%;
}
.checkout-container h2 {
  font-size: 24px;
}
.checkout-container .header-img {
  margin-bottom: 7%;
}
.checkout-container .checkout-title {
  margin: 5% 0;
}
.checkout-container .checkout-title h1,
.checkout-container .checkout-title h2,
.checkout-container .checkout-title h3 {
  text-align: center;
}
.checkout-section .bill {
  margin-top: 1%;
  margin-bottom: 2%;
  font-weight: 400;
}
.checkout-btn {
  margin-top: 5%;
  text-align: center;
}
.checkout-btn .btn-lg {
  padding: 15px 65px;
}
