// Reset Theme


body {
	
	background-color: #FFFFFF;	
	margin-top: 0;
}

/* Links */
a {
    color: #333;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {    
    color: #333;
    /*text-decoration: underline;*/
    /*outline: 0;*/
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/* White Header Wrap */
#dga {
  background: #FFFFF;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
}

#dga h4 {
  font-weight: 700;
}

/* White Wrap */
#ra {
  background: #FFFFF;
  padding-top: 35px;
  padding-bottom: 35px;
}

#ra h4 {
  color: #333;
  font-weight: 700;
}

#ra p {
  color: black;
}

/* Footer Wrap */
#fa {
  background: #FFFFFF;
  padding-top: 30px;
  padding-bottom: 30px;
}

#fa i {
  color: #bdbdbd;
  font-size: 30px;
  padding: 20px;
}

#fa i:hover {
  color: #B39C6B;

}

.wa {
  padding-top: 35px;
}

.wa h4 {
  font-weight: 700;
}

.wa i {
  color: #B39C6B;
  font-size: 60px;
}


/* Reset Done */


.navbar-default {
	background-color: transparent;
	border: none;	
	padding-bottom: 0;
	margin-bottom: 0;
}

#nav{
	margin-right: 5%;
}

body {	
	a:hover {
		text-decoration: none;
	}
}

	

.navbar .nav li {
	
	a {
    	color: #333;;
    	font-weight: normal;
	}
	a:hover{
  		text-decoration:underline; 
  		color: #333;;
	}
}

.main-content {
	padding-top: 10%;
	min-height: 800px;
	h1 {
		font-size: 42px;
	}
	h2 { font-size: 18px;}

	.cta-btn { 		
		margin:5%;
	}	
}

.btn-lg {		
	padding: 14px 38px;
	font-size: 18px;
	font-weight: normal;
	line-height: 1.33;
	border-radius: 6px;
}

.learn-more {
	text-align: center;
	position: absolute;
	bottom: 20px;
	width: 100%;
}


.centered {
    text-align: center;
}

.line {
	border-bottom: solid #e3e3e3 1px;
}


/******************* Checkout *************/

.checkout-container {	
	background-color: #FFFFFF;	
	-webkit-border-radius: 16px;
  	-moz-border-radius: 16px;
  	border-radius: 16px;
  	border: 1px solid #b5b5b5;

  	h2 {
  		font-size: 24px;
  	}
  	.header-img {
  		margin-bottom:7%;
  	}
  	.checkout-title  {
  		margin: 5% 0;
  		h1, h2, h3{
  			text-align: center;  		
  		}
  	}
  	max-width:900px;
  	margin-bottom: 5%;
  	padding:0 5% 5% 5%;
}


.checkout-section {	
	// margin-top:5%;
	.bill {
		margin-top: 1%;
		margin-bottom: 2%;
		font-weight: 400;
		// font-size:1.4em;
	}
	.form-group input[type="text"]{
		// font-size: 1.4em;
	}	
}

.checkout-btn {
	margin-top: 5%;
	text-align: center;
	.btn-lg {		
	padding: 15px 65px;
	
	}
}

