.navbar-default {
	background-color: transparent;
	border: none;
}

.main-content {
	padding-top: 10%;
	height: 600px;
	h1 {
		font-size: 42px;
	}
	h2 { font-size: 18px;}

	.cta-btn { margin:2%;}
}

.learn-more {
	text-align: center;
}


.centered {
    text-align: center;
}